/* Prevent scroll on homepage only */
body:has(.heroContainer) {
  overflow: hidden;
}

/* Hero Container */
.heroContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000000;
}
